/* #############################################
 * ##### Sasson - advanced drupal theming. #####
 * #############################################
 *   
 * SITENAME theme main stylesheet.
 * 
 *  Index
 *  -----------
 *  1. Imports and Definitions
 *  2. General Sitewide Styles
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebars
 *    -- Footer
 *  3. Front Page
 *  4. Inner Pages
 *  5. Forms
 * 
 */

/*-----------------------------------------------
           Imports and Definitions
-----------------------------------------------*/
// @import "compass/css3";           // Uncomment to use CSS3 mixins (http://compass-style.org/reference/compass/css3/)
// @import "960/grid";               // Uncomment to use 960gs mixins (see Sasson's layout partials for examples)
// @import "grid/gridy";             // Uncomment to use gridy mixins (the layout system powering Sasson v3.x)
// @import "partials/mixins";        // Uncomment to call your own mixins partial (check your /partials directory)
// @import "sprites/smart";          // Uncomment to call your 'smart' sprite (check your /images/sprites directory)

/*-----------------------------------------------
          General Sitewide Styles
-----------------------------------------------*/
/* -----  Layout  ----- */
#page, #header,.region-featured,.region-footer,
#page-title,
#quicktabs .content{
	margin-left:  25%;
	margin-right: auto;
	width: 960px;
	}
#featured,footer,#quicktabs{
	width: 100%;
	margin: 0;
	}
#floating{
	position: absolute;
	}
/* -----  General Styles (Colors, Backgrounds etc.)  ----- */

/* -----  Typography  ----- */

/* -----  Links  ----- */

/* -----  Header  ----- */

/* -----  Sidebars  ----- */

/* -----  Footer  ----- */


/*-----------------------------------------------
                 Front Page
-----------------------------------------------*/

/*-----------------------------------------------
                 Inner Pages
-----------------------------------------------*/

/*-----------------------------------------------
                   Forms
-----------------------------------------------*/

/**************************  Header  ******************************/
#site-name,#main-menu,#secondary-menu{
	display: none;
}
#page-title{
	width: 165px;
	float: left;
	}

#header{
	margin-top: 10px;
	}
#block-search-form
{
	float: left;
	margin: 6px 0px 0px 25px;
	label,.form-submit { display: none; }
	input {
	background: url('../images/home-icons.png') no-repeat 102% 7%;
	border: 2px solid #AFAFAF;
	width: 256px;
	height: 26px;
	padding: 0px 7px 0px 7px;
	margin-left: -7px;
	}
}
/**** individual-space / community-space ****/
#block-menu-menu-community-space{
	right: 10px;
	div.contextual-links-wrapper{
		width: 167px;
		ul.contextual-links{left: 0;}
	}
}
#block-menu-menu-individual-space .content,
#block-menu-menu-community-space .content,
#block-menu-menu-log-in .content{
	width: 137px;
	float: right;
	margin: -17px 2px 0px -4px;
	ul{
	   padding: 0;
	}
	li{
	  list-style: none;
	  float: left;
	  background: url("../images/primary-links-with-down-arrow.gif") no-repeat 54px 20px #f9ab17;
	  height: 30px;
	  font-size: 12px;
	  position: relative;
  	  height: 25px;
	  top: 9px;
	  width:107px;
	}
	li li.first {
	  margin-right: 0;
	  box-shadow: 0px 0px;
	}
	li li.last {
	  margin-bottom: 15px;
	}
	li a {
	 color: #fff;
	font-weight: bolder;
	width: 113px;
	 text-align: center;
	 text-decoration: none;
	 padding: 0px;
	 display: inline-block;
	}
	ul.menu li ul {
	background: white;
	margin: 8px 0 0;
	display: none;
	position: absolute;
	z-index: 100;
	box-shadow: 0px 0px 5px 0px #C5B88E;
}
	ul.menu li:hover ul {
	  display: block;
	}
	li li {
	float: none;
	margin: 0;
	padding-right: 16px;
	background-image: none;
	background: white;
	height: 20px;
	margin-bottom: 0px;
	width: auto;
	}
	li li a {
	    display: inline-block;
	    width: 80px;
	    border: 0px;
	    padding: 6px 0 0;
	    text-decoration: none;
	    color:#5a6b98;
	    font-weight: normal;
	    text-align: left;
	    padding-left: 12px;
	    font-size: 13px;
	}
}
#block-menu-menu-individual-space .content li li.last a{
	width: 123px;
	color: orange;
	}
/***********************  second-Header  ***************************/
#featured{
		 border:1px #FAD07C solid;
	 	 border-top: 0px;
		 height: 61px;
		 background: -moz-linear-gradient(top, rgba(253,246,230,1) 0%, rgba(255,255,255,1) 49%, rgba(253,246,230,1) 100%);
		 /* Chrome,Safari4+ */
		 background: -webkit-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%); 
		 /* Chrome10+,Safari5.1+ */
		 background: -o-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
		 /* Opera 11.10+ */
		 background: -ms-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
		 /* IE10+ * /
		 background: linear-gradient(to bottom, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
		 /* W3C *  /
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf6e6', endColorstr='#fdf6e6',GradientType=0 );
		 /* IE6-9 */
#block-menu-menu-general-sub-header{
	width: 244px;
	height: 62px;
	float: right;
	margin: -6px 67px 0px 5px;
	ul
	{
		margin: 0 auto;
		padding: 0;
	}
	li{
		float: left;
		width: 53px;
		margin-left: 27px;
		list-style: none;
			}
	ul{
			  height: 61px;
			}
	ul li{
		margin-left: 27px;
			}
	a{
			text-decoration: none;
			position: relative;
			top: 18px;
			padding: 21px;
			color: #024883;
			}
	ul.menu li ul {
			margin: 38px 3px 0;
			display: none;
			position: absolute;
			z-index: 100;
			}
	ul.menu li:hover ul {
			  display: block;
			}
	li li {
			float: none;
			margin: 0;
			background-image: none;
			background: white;
			height: 20px;
			margin-bottom: 0px;
			width: 100px;
			}
	}

	#block-block-4{
		 display: none;
	}	
	#block-menu-menu-likeabee-eng{
			width: 192px;
			text-align: center;
			color: #02489D;
			margin-top: 7px;
		div{
			float: left;
			margin-right: 5px;
			}
		a{
			padding: 13px 32px 34px 26px;
			color: #7E0404;
			text-decoration: none;
			}
		}
}
/*************************  tabs  *****************************/
#block-menu-menu-tabs{
	position: static;
	div.contextual-links-wrapper{
		position: relative;
		width: 123px;
		left: -466px;
		top: -12px;
		ul.contextual-links{top: 85px;}
	}

 .content{
	position: absolute;
	top: 141px;
	left: 0;
	margin-left: -48px;
	padding: 0;
	a{
	text-decoration: none;
	}
	/*ul li*/
	ul li
	{
		position: absolute;
		list-style: none;
		width: auto;
		height: 39px;
		margin-bottom: 10px; 
		padding-left: 43px;
		line-height: 16px;
		border-top-right-radius: 26px;
		border-bottom-right-radius: 26px;
		box-shadow: 0px 0px 6px -1px #555353;
		background: url('../images/big-icons.png') no-repeat #F0AC00;
		background-size: 40px;
		a{	
			position: static;
			width: 147px;
			color: white;
			font-weight: bold;
			font-size: 14px;
			padding: 3px 0px 7px 0px;
			margin: 0px 65px 0px -15px;
		}
	}
	ul li:nth-child(1) {z-index:104; top:16px; background-position: 98% 101%; } 	
	ul li:nth-child(2) {z-index:103; top:68px;   background-position: 98% -1%;  }	
	ul li:nth-child(3) {z-index:102; top:120px;  background-position: 98% 67%;  } 
	ul li:nth-child(4) {z-index:101; top:175px;  background-position: 99% 32.5%;  } 	
	/*ul li ul*/
	ul li ul{		
		box-shadow: 0px 0px 2px 1.5px #C5BFAF;
		background: #fff;
		position: absolute;
		left: 1px;
		top: 42px;
		width: 191px;
		padding: 0;
		margin: 0;
		li{
			box-shadow: 0px 0px;
			border-radius: 2px;
			background: #fff;
			position: static;
			height: auto;
			padding: 0;
			margin: 0;
	 		a{
				color: #888;
				padding: 2px 0px 0px 21px;
				margin: 0px 0px 0px 0px;
				font-weight: normal;
				font-size: 12px;
			}
		}
	}
	ul li:nth-child(3) ul{
		li{
		background: url('../images/points.png') no-repeat 3% 0% white;
		margin-left: 4px;
		} 
		li:nth-child(1) { background-position: 0% 1%; } 
		li:nth-child(2) {letter-spacing: -1.7px; background-position: 0% 21%;  }	
		li:nth-child(3) { background-position: 0% 40%;  } 
		li:nth-child(4) { background-position: 0% 60%;  } 
		li:nth-child(5) { background-position: 0% 80%;  } 
		li:nth-child(6) { background-position: 0% 100%;  } 
		a{

		}
	}
	ul.menu li a,ul.menu li ul{
		display: none;
	}
	ul.menu li:hover a{
	  display: block;
	}
	ul.menu li:hover ul {
		display: block;
	}
   }
}
/**************************  footer  ******************************/
#footer
{
	background: #9f2772;
	height: 70px;

	/*position: absolute;
	width: 100%;
	top: 66px;
	left: 0px;
	margin: 0;*/
}
#footer{
	    border-top: 1px dashed #FFFFFF;
	    display: inline-block;
	    margin: 4px 0 0;
	    width: 100%;	
		#block-menu-menu-footer{
			position: relative;	
			width: 725px;
			left: 82px;
			z-index: 2;
			top: 5px;
				.content li{
					list-style: none;
					font-size: 13px;
				   	float: left;
				   	margin: 11px 2px 0 2px;
					border-right: 1px solid #FFD4FF;
				   	position: relative;
					height: 8px;
					left: -38px;
					a{
					   color: #ffd4ff;
					   padding: 0 7px;
					   text-decoration: none;
					   position: relative;
					   top: -5px;
					}
				}
				 .content li:nth-child(7){
				  	border-right: 0px solid #ffd4ff;
				}
		}	
		#block-menu-menu-footer-icons{
			position: relative;			
			width: 238px;
			top: -65px;
			float: right;
			right: 7px;
			.menu li{
				list-style: none;
				background: url('../images/home-icons.png') no-repeat top left;
				margin: 6px;
				float: right;
				width: 19px;
				height: 22px;
				a{
				font-size: 0px;
				padding: 20px 0px 3px 23px;
				}
			}
			li:nth-child(1){ background-position: 50% -119px;margin-left: 6px; } 
			li:nth-child(2){background-position: 50% -44px;} 
			li:nth-child(3){ background-position:50% -94px; } 
			li:nth-child(4){ background-position: 50% -69px; } 
		}
		#logo-footer{
			position: relative;
			left: -15px;
			margin: 7px 7px  0px 7px;			
			width: 116px;
			float: left;
			height: 31px;
			border-radius: 10px;
			background: url('../logo.png') no-repeat white center;
			background-size: 96px;
		}
}
/*************************  home page  *******************************/
#home-img{
	float: right;
	margin: 14px 0px 13px -45px;
	/*margin: 6px 0px 18px -11px;*/
	}
#block-menu-menu-main-icons{
  float: left;
}
#block-menu-menu-main-icons .menu{
	padding: 10px 10px 0px 12px;
	margin: -9px 0px 33px -30px;
	width: 243px;
	ul
	{
	width: 227px;
	padding: 0;
	margin: 20px 0px 38px -17px;
	}	
	li{
	    margin-left: 10px;
	    margin-right: -6px;
	    margin-top: 8px;
	    margin-bottom: -3px;
	    float: left;
	    height: 95px;
	    width: 95px;
	    list-style: none;
	    background: url('../images/big-icons.png') no-repeat 50% 0;
		a{
			color: #551A8B;
			margin-right: 6px;
			margin-left: 15px;
	   	    	text-decoration: none;
			display: inline-block;
			font-size: 13px;
			/*font-weight: bold;*/
			padding: 82px 0px 0 0px;
			text-align: center;
			width: 85px; 
			letter-spacing: 0px;
			line-height: 12px;
			word-spacing: 1px;
		}
		
	}
       li:nth-child(1){ background-position: 54% -236px;  } 
	li:nth-child(2){background-position: 56% 22px; } 
	li:nth-child(3){ background-position: 55% -154px;  } 
	li:nth-child(4){ background-position: 63% -69px;  } 
}
#share_icons {
	width: 198px;
	margin-left: -12px;
	padding: 5px 0px 0px 38px;
	li{
		list-style: none;
		height: 30px;
		margin-right: 7px;
		width: 31px;
		border-right: 1px solid #D3D1D3;
		float: left;
	}
	li:nth-child(4){
		border-right: 0px
	}
	a{
	    float: left;
	    height: 30px;
	    width: 30px;
	    background: url('../images/home-icons.png') no-repeat 50% 0;
	}

	a#facebook{ background-position: 50% -147px; } 
	a#twiter{ background-position: -27% -211px;  } 
	a#rss{ background-position: 50% -179px;  } 
	a#youtube{ background-position: 50% -242px;  } 
}

/*******************  Groups page **************************/
#featured{
	#block-views-current-group-block{
		div{
		width: 204px;
		text-align: left;
		}
		.field-content{
		font-size: 30px;
		color:#014a81;
		}
		.views-field{
		background: none;
		}
	}
	.views-field{
		width: 100px;
		text-align: center;
		float: left;
		margin: 0px -1px 0px 0px;
		border-left: 1px solid #fcf0d8;
		border-right: 1px solid #fcf0d8;
		padding: 11px 3px 0px 3px;
		height: 50px;
		line-height: 16px;
		background: url("../images/arrow-header.png") no-repeat 52px 46px;
		}
	.block-views .field-content a{
		color:#B01919;
		text-decoration: none;
		width: 107px;
		text-align: center;
		padding: 9px 0px 17px 0px;
		}
	.block-views .field-content a::selection {
		background:#fff;
		}
	.block-views .field-content a div{
		color:#014a81;	
		font-size: 13px;
		padding-bottom: 19px;
		}
}
#block-views-latest-updates-block-1{
float: right;
}
#block-views-group-s-events-block-1{
margin-bottom: 26px;
}
#block-views-group-members-block,
#block-views-group-s-events-block-1,
#block-views-latest-updates-block-1{
	border: 1px solid #FACE77;
	border-radius: 6px;
	box-shadow: 0px 0px 0px 4px #FCF0D8;
	width: 322px;
	h2{
	color:#014a81;	
	background-color: #FCF0D8;
	padding: 9px 19px;
	margin: 0;
	font-size: 19px;
	font-weight: normal;
	}
	img{
	float: left;
	margin-right: 10px;
	}
	.content{
	margin: 14px;
	}
	a{
	text-decoration: none;
	color: #A3001E;
	}
	.views-field-created,
	.views-label-name,
	.views-label-name a.username{
	color:#686868;
	}
	.views-field-body{
	margin-left: 113px;
	color:#014a81;
	}
	.views-row{
	border-bottom: 1px solid #FACE77;
	}
	.pager a{
	color:#014a81;
	}
}
/*-------------------------*/
#block-views-my-groups-block,
#block-views-tags-block,
#block-views-groups-block{
	.block-title{
		color: #014A81;
		font-size: 17px;
	}
	ul{
		list-style: none;		
        }
	li{
	margin: 0;
	}
        a{
       		color: black;
       		text-decoration: none;
        }
}
#block-views-tags-block .block-title,
#block-views-groups-block .block-title{
	padding-left: 19px;
	background: url('../images/home-icons.png') no-repeat;
	}
#block-views-tags-block .block-title,  {
  background-position:-3% 101.5%;
			}

#block-views-groups-block .block-title{
  background-position:-3% -0.5%;
}
/*-------------------*/
/*.odd*/ 
#block-quicktabs-group-s-events{
  clear: both;
 background: #fcf0d8;
}
.field-name-field-image-groop div div{
	/*box-shadow: -21px 16px 36px 0px red;*/
	width: 700px;
	float: right;
	margin-bottom: 19px;
	img{
	float: right;
	}
}
.block-quicktabs{
	.block-title{
	    color: #B01919;
	    float: left;
	    font-size: 24px;
	    padding: 0 29px 0 0;
	    margin: 0 0 5px;
	    font-weight: normal;
	margin-left:  25%;
	margin-right: auto;
	}
	li{
	    float: right;  
	    list-style: none;
	}
	ul.quicktabs-tabs{
		float: right;
		li{
		float: left;
		 	a{
			    font-size: 14px;
			    text-decoration: none;
			    color: #B01919;
			    padding: 0 25px 0 0;
			}
		}
	}
	.quicktabs_main{
		clear: both;
		.views-field-title{
				background: #9f2772;
				a{
					text-decoration: none;
					color:#fff;
				}
			}
		.views-field p{
			color: #014a81;
			background-color: rgba(255, 255, 255, 0.34);
			padding: 0;
			margin: 0;
		}
		td{
			width: 288px;
			padding-right: 14px;
			padding-bottom: 19px;
		}	
	}
	/*.quicktabs_main  ul li {
	    margin: 0 16px 0 0;
	}
	ul.quicktabs-style-nostyle li {
	    margin: 13px 0 0;
	}
	.views-field-last-updated{
	   background: #9f2772;
	   color: #fff;
	   height: 25px;
	}
	.views-field-last-updated .field-content{
	  float: right;
	  margin: 4px 10px;
	}
	.views-field-last-updated-1 span {
	  float: left; 
	  margin: -20px  0 0 9px;
	  color: #fff;
	}
	.views-field-title {
	 background: #9f2772;
	}
	.views-field-title a {
	  color: #fff;
	}
	#content-content {
	  background: #fff;
	  padding: 5px 7px;
	}
	.views-field-title span {
	 margin: 2px 10px;
	 font-weight: bold;
	 display: inline-block;
	}
	.view td {
	  overflow: hidden;
	}*/
}
/*******************  Learning Center page **************************/
#block-menu-menu-learning-center-eng{
	.block-title{
	background: url('../images/lernningCenter_icons.png') no-repeat 157% -12%;
	padding-right: 28px;
	color: #02489D;
	margin-bottom: -16px;
	}
	ul.menu {
	width: 207px;
	margin-left: 0px;
	}
	li{	
	list-style: none;
	}
	li a{
 	display: inline-block;
	text-decoration: none;
	color: black;
	background: url('../images/lernningCenter_icons.png') no-repeat;
	padding-left: 25px;
	}
	li a{ background-position: 499% 53%; } 
	/*li a:nth-child(1){ background-position: 499% 53%; } 
	li a:nth-child(2){ background-position: 50% -69px;  } 
	li a:nth-child(3){ background-position: 50% -155px;  } 
	li a:nth-child(4){ background-position: 50% -241px;  } 
	li a:nth-child(5){ background-position: 50% -155px;  } 
	li a:nth-child(6){ background-position: 50% -241px;  }*/

		ul.menu li ul {
		top: 193px;
		display: none;
		position: absolute;
		z-index: 100;
		}
		ul.menu li:hover ul {
		display: block;
		}
		li li a {
		background-image: none;
		padding: 6px 0 0;
		text-decoration: none;
		color: #5A6B98;
		text-align: left;
		}
}
#block-quicktabs-new_articles{
	width: 708px;
	height: 440px;
	border-bottom: 1px #FAD07C solid;
	h3{
	color: #024883;
	margin-bottom: -20px;
	}
	li{
	float: left;
	list-style: none;
	}
	ul.quicktabs_tabs li{
	margin-bottom: 9px;
	}
	ul.quicktabs_tabs li a{
	font-size: 14px;
	color: #B01919;
	padding: 0 25px 14px 0;
	}
	ul.quicktabs_tabs li.qtab-3{
	position: relative;
	top: 424px;
	left: -283px;
	background: url('../images/lernningCenter_icons.png') no-repeat 50% 0 white;
	}
	.views-row{
	float: right;
	margin-left: 24px;
	width: 215px;
	height: 373px;
	border-radius: 4px;
	border: 2px solid #FBD38B;
	box-shadow: 0px 0px 0px 3px #FAE8C7;
	}
	.views-row-last{
	margin-left: 0px;
	}
	.views-field-body{
	position: relative;
	right: 17px;
	top: 10px;
	width: 186px;
	}
}
.view-learning-center-selected{
	width: 708px;
	li{
	float: left;
	list-style: none;
	}	
	.views-row{
	float: right;
	margin-left: 24px;
	width: 215px;
	height: 373px;
	border-radius: 4px;
	border: 2px solid #FBD38B;
	box-shadow: 0px 0px 0px 3px #FAE8C7;
	}
	.views-row-last{
	margin-left: 0px;
	}
	.views-field-body
	{
	position: relative;
	right: 17px;
	top: 10px;
	width: 186px;
	}
}
#block-views-96798b78acdc9e39d155765148f7836b h3 {
	color: #024883;
	margin-bottom: 20px;
}
#quicktabs_container_new_articles{
	width: 900px;
	clear: both;
}
/***************************/
.not-front
{
	#logo{
	float: right;
	margin-left: 14px;
	}
	#logo img{
	height: 29px;
	}
	#block-views-group-logo-block{
	width: 165px;
	float: left;
	}
}
.node-type-group,.node-type-group-s-avtivity,.node-type-group-members{
	#page-title{
		display: none;
		}
}
.node-type-groups-event,.node-type-page{
	#page-title{
			display: block;
			width: 204px;
			text-align: left;
			font-size: 25px;
			color:#014a81;
		}
}
.node-type-page{
	#logo{
	float: left;
	margin-right: 14px;
	}
	#logo img{
	height: auto;
	}
}

