$blue: #064882;
$orange: #FACE77;
$soft-orange:#fdf6e4;

@mixin button {
   background-color: #F1AD00;
    border: medium none;
    color: white;
    font-weight: bold;
    padding: 5px 17px;
 }

.likeabee-block .header{
    border: 1px solid $orange;
    border-radius: 6px 6px 6px 6px;
    margin: 26px 14px;
    color: $blue;
    padding: 17px;
    font-size: 14px;
}

.likeabee-block .header .transaction-totals .balance{
	font-size:20px;
}

.advanced-help-link,
.advanced-help-link:hover {
    background: url("../images/resource/cursore.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 21px;
    width: 22px;
  }

.likeabee-block .transaction-totals{
	float:left;
	margin-right: 30px;
}

.likeabee-block img.chart{
	border: 1px solid #f1ad00;
	padding: 12px 42px;
}

.likeabee-block table{
	border:1px solid $orange;
}

.likeabee-block table tr {
    background-color: #fff;
    border-bottom: 1px solid $orange;
    font-size: 12px;
	font-weight: normal;
	a{
		text-decoration: none;
		color: $blue;
	}
	td{
		padding: 5px 10px;
	}
}

.likeabee-block table thead tr th{
	width:80px;
	height:20px;
	font-size: 12px;
	background-color: $soft-orange;
	border:1px solid $orange;
	padding-left: 10px;
	font-weight: normal;
}

.likeabee-block form#mcapi-forms-form.step-1 p,
.likeabee-block .form-type-radio{
	display: inline-block;
	margin-right:10px;
}

.likeabee-block input#edit-submit.form-submit{
	@include button;
}

