$blue: #064882;
$orange: #FACE77;
$soft-orange:#fdf6e4;
$red:#B01919;

@mixin button {
   background-color: #F1AD00;
    border: medium none;
    color: white;
    font-weight: bold;
    padding: 5px 17px;
 }

a {
	text-decoration: none;
}

/*************   my beez page *************/
.likeabee-block .header{
    border: 1px solid $orange;
    border-radius: 6px 6px 6px 6px;
    margin: 26px 14px;
    color: $blue;
    padding: 17px;
    font-size: 14px;
}

.likeabee-block .header .transaction-totals .balance{
	font-size:20px;
}

.advanced-help-link,
.advanced-help-link:hover {
    background: url("../images/resource/cursore.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 21px;
    width: 22px;
  }

.likeabee-block .transaction-totals{
	float:left;
	margin-right: 30px;
}

.likeabee-block img.chart{
	border: 1px solid #f1ad00;
	padding: 12px 42px;
}

.likeabee-block table{
	border:1px solid $orange;
}

.likeabee-block table tr {
    background-color: #fff;
    border-bottom: 1px solid $orange;
    font-size: 12px;
	font-weight: normal;
	a{
		text-decoration: none;
		color: $blue;
	}
	td{
		padding: 5px 10px;
	}
}

.likeabee-block table thead tr th{
	width:80px;
	height:20px;
	font-size: 12px;
	background-color: $soft-orange;
	border:1px solid $orange;
	padding-left: 10px;
	font-weight: normal;
}

.likeabee-block form#mcapi-forms-form.step-1 p,
.likeabee-block .form-type-radio{
	display: inline-block;
	margin-right:10px;
}

.likeabee-block input#edit-submit.form-submit{
	@include button;
}

/*************    Market page  ***********************/

/* matslats temp theming for resources/marketplace */
.view-uc-catalog .views-field-title{
	padding: 6px;
	height: 45px;
	 a{
	color:$red;
	}
}

.view-uc-catalog td{
    border: 2px solid #FBD38B;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 3px #FAE8C7;
    float: left;
    height: 373px;
    margin: 0 41px 31px 0;
    padding: 0;
    position: relative;
    width: 214px;
}

.view-uc-catalog-terms .views-field-entity-id{
	margin:0 10px;
}

 .view-uc-catalog-terms input{
 	border:none;
    background: url("../images/resource/add_to_card.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 43px;
    width: 100%;
 }

 .view-uc-catalog-terms .views-field-name .views-label,
 .view-uc-catalog-terms .views-field-display-price .views-label{
 	color: $red;
 	font-size: 10px;
 }