/* #############################################
 * ##### Sasson - advanced drupal theming. #####
 * #############################################
 *   
 * SITENAME theme main stylesheet.
 * 
 *  Index
 *  -----------
 *  1. Imports and Definitions
 *  2. General Sitewide Styles
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links 
 *    -- Header
 *    -- Sidebars
 *    -- Footer
 *  3. Front Page
 *  4. Inner Pages
 *  5. Forms
 * 
 */

/*-----------------------------------------------
           Imports and Definitions
-----------------------------------------------*/
// @import "compass/css3";           // Uncomment to use CSS3 mixins (http://compass-style.org/reference/compass/css3/)
// @import "960/grid";               // Uncomment to use 960gs mixins (see Sasson's layout partials for examples)
// @import "grid/gridy";             // Uncomment to use gridy mixins (the layout system powering Sasson v3.x)
// @import "partials/mixins";        // Uncomment to call your own mixins partial (check your /partials directory)
// @import "sprites/smart";          // Uncomment to call your 'smart' sprite (check your /images/sprites directory)

$lightblue = #e6f3f9;
$blue = #5aa3c4;
$borderblue = #86BEF1;
$green = #9ab34e;
@mixin rr_homepage_a_ltr($pad) {
            padding-left: 0px; /* RTL */
            padding-right: $pad; /* RTL */
}

/*-----------------------------------------------
          General Sitewide Styles
-----------------------------------------------*/
/* -----  Layout  ----- */
.one-sidebar.sidebar-first #main {
  margin-left: 0%; /* RTL */
  margin-right: 2.7%; /* RTL */
  padding-left: 3%; /* RTL */
  padding-right: 0%; /* RTL */
  border-right-style: none; /* RTL */
  border-left-color: $borderblue; /* RTL */
  border-left-style: solid; /* RTL */
  border-left-width: 2px; /* RTL */
}

/* -----  General Styles (Colors, Backgrounds etc.)  ----- */

/* -----  Typography  ----- */

/* -----  Links  ----- */

/* -----  Header  ----- */
#header { 
  li {
    float: left;
    &.first {
      border: {
        top-right-radius: 0px; /* RTL */
        bottom-right-radius: 0px; /* RTL */
      }
    }
    &.last {
      border: {
        bottom-left-radius: 0px; /* RTL */
        top-left-radius: 0px; /* RTL */
      }
    }

    &.first {
      border: {
        bottom-left-radius: 10px; /* RTL */
        top-left-radius: 10px; /* RTL */
      }
    }
    &.last {
      border: {
        bottom-right-radius: 10px; /* RTL */
        top-right-radius: 10px; /* RTL */
      }
    }
  }
}

#block-system-main-menu {
  float: left;
}

#block-locale-language {
  float: left; /* RTL */
  ul {
    padding: 0px;
  }
}


/* -----  Sidebars  ----- */
  #sidebar-first {
    div.region-sidebar-first{
      border-right-style: none; /* RTL */
      border-left-style: solid; /* RTL */
      border-left-width: 2px; /* RTL */
      border-left-color: $borderblue; /* RTL */

      div.block {
        margin-right: 0%; /* RTL */
        margin-left: 12%; /* RTL */

        div.second-box-on-sidebar-1 {
          .content a {
            float: left; /* RTL */
          }
        }

        h2 {
          a {
            @include rr_homepage_a_ltr(12px);
          }
        }
      } /* block */
    }
  #block-menu-menu-menu-on-the-side {
    ul {
      padding-left: 20px; /* RTL */
      padding-right: 0px; /* RTL */
      li { 
        margin-right: 0px; /* RTL */        
        a {
          padding-left: 0%; /* RTL */
          padding-right: 5%; /* RTL */
        }
      }
    } /* ul  */
  } /* block menu on the side */
} /* #sidebar */

.one-sidebar.sidebar-first #sidebar-first {
  right: -75%; /* RTL */
}

#sidebar-second {
  h2 {
         a {
            @include rr_homepage_a_ltr(12px);
          }
  }
}

/* -----  Footer  ----- */


/*-----------------------------------------------
                 Front Page
-----------------------------------------------*/

#main {
  h2 {
    a {
      @include rr_homepage_a_ltr(30px);
    }	
  }

  div.region-content-bottom {
    div.view-reshet-yeruka-homepage-low-boxes {
      td {
        &.col-first {
        padding-left: 1.3%; /* RTL */
        padding-right: 0%; /* RTL */
        }
        &.col-last {
        padding-right: 1.3%; /* RTL */
        padding-left: 0%; /* RTL */

        }
      }
      h2 {
        @include rr_homepage_a_ltr(10px);
      }
    }
  }
}

body.front {
  #sidebar-first {
    div.region-sidebar-first{
      div.block {
        margin-left: 9%; /* RTL */
       }
    }
  }
}
/*-----------------------------------------------
                 Inner Pages
-----------------------------------------------*/
.node {
  .field-name-field-field-image-on-homepage {
    float: left; /* RTL */
  }
}
/* -----  contact us ----- */
body.page-contact {
  div#block-block-4 {
    float: left; /* RTL */
  }
  div#block-system-main {
    float: right; /* RTL */
  }
}


/*-----------------------------------------------
                   Forms
-----------------------------------------------*/

