/* overall page settings */
#header{
  margin-top: 10px;
}
div.region-header{
  float:right;
}
a{
  text-decoration:none;
}
/* this needs to be put back in */
#userpic-social{float:right;}


#page, #header, .region-footer, .content {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* header section, which should be the same on every page */

header{
  #search-form{
    padding: 5px 0 0 10px;
    input {
      background: url('../images/home-icons.png') no-repeat 100% 7%;
      border: 2px solid #AFAFAF;
      width: 194px;
      height: 26px;
      padding: 3px 54px 0px 24px;
      margin-left: 4px;
    }
  }
  section.block-menu{
    position: relative !important;
    background-image: url("../images/primary-links-with-down-arrow.gif");
    background-color: #f9ab17;
    background-position: center bottom;
    background-repeat:no-repeat;
    font-size: 7px;
    color: #fff;
    text-align: center;
    cursor: default;
    width: 113px;
    float: right;
    div.content{ /* this is the block which appears on mouseover */
      background: white;
      padding-bottom: 5px;
      display: none;
      position: absolute;
      width: 150px;
      z-index: 100;
      font-size: 13px;
      box-shadow: 0px 0px 5px 0px #C5B88E;
      ul{
        margin: 0;
        padding: 0 0 0 10px;
        li{
          list-style: none;
          margin: 0;
          background: white;
          height: 20px;
        }
        li.first {
          box-shadow: 0px 0px;
        }
        li a{
          color: #f9ab17;
          border: 0px;
        }
      }
    }
  }
  section:hover div.content,
  section div.content:hover{
    display: block;
  }
}
/* This is the 'main-menu' rendered by the menublocks module
  At the moment this lives in the help region */
#block-menu-block-2 {
   border:1px #FAD07C solid;
  border-top: 0px;
  /* none of these gradient backgrounds appear to be working in firefox */
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(253,246,230,1) 0%,rgba(255,255,255,1) 49%,rgba(253,246,230,1) 100%);
  margin-left: auto;
  margin-right: auto;
  height: 62px;
  text-align: center;
  ul{
    list-style: none;
    float: left;
    li{ /*the always-visible part of the block */
      margin:0;
      float:left;
      display:inline;
      height: 45px;
      width: 89px;
      background: url("../images/arrow-header.png") no-repeat 41px 49px;
      padding: 9px 0px 17px 0px;
      font-size: 11px;
      a{
        color:#014a81;
        height:50px;
      }
      a:first-line{
        color:#B01919;
        font-size: 16px;
      }
    }
  }
}
#block-system-help {
  clear:left;
}


@mixin button { /* what is this used for ??? What is a mixin??? */
  background-color: #F1AD00;
  border: medium none;
  color: white;
  font-weight: bold;
  padding: 5px 17px;
}


/* Footer section, which should be the same on every page */
footer {
  width: 100%;
  background: #9f2772;
  height: 70px;
  margin: auto;
  padding: 20px 0 20px;
  width: 100%;
  #secondary-menu{
    float:none;
    margin:auto;
    li{
      list-style: none;
      font-size: 13px;
      float: left;
      border-right: 1px solid #FFD4FF;
      position: relative;
      a{
        color: #ffd4ff;
        padding: 0 7px;
      }
    }
    li.last{
      border-right: none;
    }
  }
  ul#footer-icons{
      position: relative;
      width: 238px;
      float: right;
      right: 7px;
      li{
        list-style: none;
        background: url('../images/home-icons.png') no-repeat top left;
        margin: 6px;
        float: right;
        width: 19px;
        height: 22px;
        a{
          font-size: 0px;
          padding: 20px 0px 3px 23px;
        }
      }
      li:nth-child(1){ background-position: 50% -119px;margin-left: 6px; }
      li:nth-child(2){background-position: 50% -44px;}
      li:nth-child(3){ background-position:50% -94px; }
      li:nth-child(4){ background-position: 50% -69px; }
  }
  #logo-footer{
    position: relative;
    left: -15px;
    margin: 7px 7px  0px 7px;
    width: 116px;
    float: left;
    height: 31px;
    border-radius: 10px;
    background: url('../logo.png') no-repeat white center;
    background-size: 96px;
  }
}
/*
 * NOTE TO SYLISTS
 * EVERYTHING ABOVE THIS LINE IS IN USE
 * EVERYTHING BELOW THIS LINE NEEDS TO BE REVIEWED
 * EVERYTHING ABOVE THIS LINE SHOULD BE IN SOME KIND OF ORDER
 * THAT WAY DUPLICATES WILL BE OBVIOUS BECAUSE EVERYTHING WILL HAVE ITS PLACE
 * LIKE
 * overall page settings
 * header region
 * menus
 * sidebars & blocks
 * main content
 * footer
 */





/* -----  share icons, wherever they are----- */
#share-icons{
  float: left;
  margin: -15px 0px 0px;
  ul.menu{
    margin-left: 4px;
    padding: 0;
    li{
      list-style: none;
      height: 30px;
      margin: 0;
      padding: 0px 6px 0px 5px;
      width: 31px;
      border-right: 1px solid #D3D1D3;
      float: left;
    }
    li:nth-child(4){
      border-right: 0px
    }
    a{
      float: left;
      height: 30px;
      width: 30px;
      background: url('../images/home-icons.png') no-repeat 50% 0;
      font-size: 0px;
    }
    .facebook a{ background-position: 50% -147px; }
    .twiter a{ background-position: -27% -211px;  }
    .rss a{ background-position: 50% -179px;  }
    .youtube a{ background-position: 50% -242px;  }
  }
}





#floating{
  position: absolute;
}
.region-content-top,.page-groups .region-content{
  clear: both;
}
.region-content{clear: both;}
.section-activities,.section-users{
   #main .region-content{
    clear: both;
    width: 106.05%;/*width: 747px;*/
    margin-left: -22px;
  }
  .region-sidebar-second{
  margin-left: 19px;
  margin-top: 40px;
  }
}

/* -----  page title  ----- */
#page-title{
  text-align: left;
  font-size: 25px;
  color:#014a81;
  float: left;
}

.node-type-page{
  #page-title{
    display: block;
    min-width: 204px;
    text-align: left;
    font-size: 25px;
    color:#014a81;
  }
}
/* -----  logo  ----- */
.not-front{ /*this should be done with page--front.tpl.php rather than writing php to produce different classes*/
  #logo{
    float: right;
    margin-left: 14px;
  }
  #logo img{
    height: 22px;
    margin: -28px 11px -51px 0px;
  }
}



.likeabee-block .header{
  border: 1px solid #FACE77;
  border-radius: 6px 6px 6px 6px;
  margin: 26px 14px;
  color: #064882;
  padding: 17px;
  font-size: 14px;
}

.likeabee-block .header .transaction-totals .balance{
  font-size:20px;
}

.advanced-help-link,
.advanced-help-link:hover {
  background: url("../images/resource/cursore.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 21px;
  width: 22px;
}

.likeabee-block .transaction-totals{
  float:left;
  margin-right: 30px;
}

.likeabee-block img.chart{
  border: 1px solid #f1ad00;
  padding: 12px 42px;
}

.likeabee-block table{
  border:1px solid #FACE77;
}

.likeabee-block table tr {
  background-color: #fff;
  border-bottom: 1px solid #FACE77;
  font-size: 12px;
  font-weight: normal;
  a{
    color: #064882;
  }
  td{
    padding: 5px 10px;
  }
}

.likeabee-block table thead tr th{
  width:80px;
  height:20px;
  font-size: 12px;
  background-color: #fdf6e4;;
  border:1px solid #FACE77;
  padding-left: 10px;
  font-weight: normal;
}

.likeabee-block form#mcapi-forms-form.step-1 p,
.likeabee-block .form-type-radio{
  display: inline-block;
  margin-right:10px;
}
.likeabee-block input#edit-submit.form-submit{
  @include button;
}


/*---  block-views -----*/
@mixin menu-featured-ul{
  background: white;
  margin: 62px 0 0;
  display: none;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 0px 5px 0px #C5B88E;
}
@mixin menu-featured-li{
  list-style: none;
  float: none;
  margin: 0;
  padding-right: 16px;
  background-image: none;
  background: white;
  height: 22px;
  width: 95px;
}
@mixin menu-featured-a{
  display: inline-block;
  width: 80px;
  border: 0px;
  color:#5a6b98;
  font-weight: normal;
  text-align: left;
  padding-left: 12px;
  font-size: 13px;
}

$blue: #064882;
$orange: #FACE77;
$soft-orange:#fdf6e4;
$red:#B01919;

/*************   my beez page *************/
.likeabee-block .header{
    border: 1px solid $orange;
    border-radius: 6px 6px 6px 6px;
    margin: 26px 14px;
    color: $blue;
    padding: 17px;
    font-size: 14px;
}

.likeabee-block .header .transaction-totals .balance{
  font-size:20px;
}

.advanced-help-link,
.advanced-help-link:hover {
    background: url("../images/resource/cursore.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 21px;
    width: 22px;
  }

.likeabee-block .transaction-totals{
  float:left;
  margin-right: 30px;
}

.likeabee-block img.chart{
  border: 1px solid #f1ad00;
  padding: 12px 42px;
}

.likeabee-block table{
  border:1px solid $orange;
}

.likeabee-block table tr {
    background-color: #fff;
    border-bottom: 1px solid $orange;
    font-size: 12px;
  font-weight: normal;
  a{
    color: $blue;
  }
  td{
    padding: 5px 10px;
  }
}

.likeabee-block table thead tr th{
  width:80px;
  height:20px;
  font-size: 12px;
  background-color: $soft-orange;
  border:1px solid $orange;
  padding-left: 10px;
  font-weight: normal;
}

.likeabee-block form#mcapi-forms-form.step-1 p,
.likeabee-block .form-type-radio{
  display: inline-block;
  margin-right:10px;
}

/*************    Market page  ***********************/

/* matslats temp theming for resources/marketplace Please do better if you can*/
.view-likeabee-catalog .views-field-title,
.view-likeabee-catalog .views-field-model{
  padding: 6px 6px 0 6px;
  color:$red;
  a{
    color:$red;
  }
}

.view-likeabee-catalog .views-field-title{
  margin-bottom:-8px;
}

.view-likeabee-catalog td{
  border: 2px solid #FBD38B;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 0 3px #FAE8C7;
  float: left;
  height: 373px;
  margin: 0 41px 31px 0;
  padding: 0;
  position: relative;
  width: 214px;
}

.view-likeabee-catalog .views-field-entity-id{
  margin:0 10px;
}

.view-likeabee-catalog input{
  border:none;
  background: url("../images/resource/add_to_card.png") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  height: 43px;
  width: 100%;
}

 .view-likeabee-catalog .views-field-name .views-label,
 .view-likeabee-catalog .views-field-display-price .views-label{
   color: $red;
   font-size: 10px;
 }






/* -----  breadcrumb ----- */
#breadcrumb{
  margin-top: 9px;
  .mafrid{
    font-size: 0px;
    padding: 9px 8px;
    margin-top: 2px;
    float: left;
    background: url('../images/arrow-adress.jpg') no-repeat 1px;
  }
}
.mafrid:nth-child(2){opacity: 1;}
.mafrid:nth-child(4){opacity: 0.8;}
.mafrid:nth-child(6){opacity: 0.6;}
.mafrid:nth-child(8){opacity: 0.4;}
.mafrid:nth-child(10){opacity: 0.2;}

#breadcrumb a ,#breadcrumb{
  float: left;
  color: #303030;
  font-size: 15px;
}
div #breadcrumb:after{
clear: both;
}

/*********************************************************************/
/**************************  content  ********************************/
/*********************************************************************/

/*************************  home page  *******************************/
/* -----  home img ----- */
#home-img{
  float: right;
  margin: 14px 0px 13px -45px;
}
/* -----  main icons ----- */
#block-menu-menu-main-icons{
  float: left;
}
#block-menu-block-3 .menu,
.menu-block-menu_block_3{
  padding: 10px 10px 0px 12px;
  margin: -9px 0px 33px -43px;
  width: 243px;
  float:left;
  clear:left;
  ul{
      width: 227px;
      padding: 0;
      margin: 20px 0px 38px -17px;
  }
  li{
      margin-left: 10px;
      margin-right: -6px;
      margin-top: 8px;
      margin-bottom: -3px;
      float: left;
      height: 95px;
      width: 95px;
      list-style: none;
      background: url('../images/big-icons.png') no-repeat 50% 0;
    a{
      color:#014a81;
      margin-right: 6px;
      margin-left: 15px;
      display: inline-block;
      font-size: 13px;
      padding: 82px 0px 0 0px;
      text-align: center;
      width: 85px;
      letter-spacing: 0px;
      line-height: 12px;
      word-spacing: 1px;
      font-weight: bold;
    }

  }
  li:nth-child(1){ background-position: 54% -236px; }
  li:nth-child(2){ background-position: 56%   22px; }
  li:nth-child(3){ background-position: 55% -154px; }
  li:nth-child(4){ background-position: 63% -69px;  }
}


div.view-id-list_of_groups {
  width: 753px;
  td{
    float: left;
    padding: 0;
    margin: 0px 24px 31px 0px;
    width: 215px;
    height: 373px;
    border-radius: 4px;
    border: 2px solid #FBD38B;
    box-shadow: 0px 0px 0px 3px #FAE8C7;
  }
  .views-field-title,
  .views-field-field-description-group{
    margin: 0px 10px;
    width: 186px;
  }
  .views-field-title,.views-field-name{
    border-bottom: 1px solid #FACE77;
    margin-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 5px;
    background: white;
    a{
      padding: 0;
      color: #B01919;
      font-weight: bold;
      font-size: 16px;
    }
  }
  .views-field-field-description-group,
  .views-field-name,
  .views-field-group-group{
  color: #014a81;
  }
  .views-field-field-group-logo,
   .views-field-field-user-picture{
  height: 141px;
  }
  .views-label-field-description-group,
.views-label-field-user-description{
    height: 123px;
    font-weight: bold;
    margin-bottom: 16px;
    padding-right: 40px;
  }
  .field-content{
    font-weight: normal;
  }
  .views-field-group-group{
    background: #fcf0d8;
    height: 51px;
    border: 1px solid #FBD38B;
  }
  .views-field-name{
    float: right;
    font-size: 13px;
    font-weight: normal;
  }
  .views-field-group-group .field-content{
    padding-top: 16px;
    a{
    color: white;
    font-weight: bolder;
    border-color: #FAAC18;
    padding: 5px 10px;
    }
    .group{
    float: right;
    font-size: 13px;
    padding-top: 3px;
    margin-right: 6px;
    background-color: #FAAC18;
    width: 53px;
    height: 22px;
    }
    .number{
    float: left;
    margin-right: 4px;
    margin-left: 10px;
    font-weight: bold;
    }
    .members{
    font-size: 15px;
    float: left;
    }
    .picture{
    float: left;
    margin: 0px 0px 0px 6px;

    }
  }
}


div.view-groups-content-preview div.node.teaser{
  background: #9f2772;
}

@mixin box{
  width: 303px;
  height: 202px;
  margin-right: 17px;
  margin-bottom: 18px;
  float: left;
  h2 {
    margin: 0;
    font-size: 14px;
    padding: 2px 0px;
    a{
      font-size: 14px;
      color: white;
      font-weight: bolder;
      padding-left: 8px;
    }
  }
}
@mixin box-title{
  color: #B01919;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: normal;
}
@mixin box-header{
  background: #9f2772;
  margin: 0;
  font-size: 14px;
  padding: 2px 0px;
}
@mixin box-header-a{
  font-size: 14px;
  color: white;
  font-weight: bolder;
  padding-left: 8px;
}

/* -----   Specific information boxs  ----- */
.field-name-field-image-group div div{
  width: 700px;
  height: 270px;
  float: right;
  margin-bottom: 19px;
  background: url('../images/shadow-img.jpg') no-repeat -20px 258px;
  img{
    float: right;
  }
}

.views-field-field-doccument{
  margin: 10px 10px;
  li{
  margin: 0;
  margin-bottom: 7px;
  }
}

/* -----  General activity boxs  ----- */
.section-activities #main .region-content,
.section-users #main .region-content{
  .block-odd{float: left;}
  .block-even{float: right;}
}

.region-content section[id^="block-views-group-"]{
    position: relative;
    margin: 11px 14px;
    border: 1px solid #FACE77;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 4px #FCF0D8;
    width: 341px;

    .block-title{
      float: left;
      color:#014a81;
      background-color: #FCF0D8;
      border-bottom: 1px solid #FACE77;
      padding: 9px 19px;
      margin: 0;
      font-size: 19px;
      font-weight: normal;
      width: 303px;
    }
    .view-header{
      position: absolute;
      right: 13px;
      margin-top: -7px;
      a{color:#014a81; font-size: 19px;}
    }
    .view-content{
      clear: both;
      padding-top: 5px;
    }
    header h2{
      width:auto;
      clear: both;
      background-color:#fff;
      padding: 0;
    }
    img,.views-field-field-video-group{
      float: left;
      margin-right: 10px;
    }
    .content{
      margin:0px 14px 14px 14px;
    }
    a{
      color: #A3001E;
      font-size: 14px;
    }
    .views-field-created,
    .views-label-name,
    .views-label-name a.username{
      color:#686868;
      font-size: 14px;
    }
    .views-field-created{
      margin-top: -5px;
      font-size: 12px;
    }
    div.views-field-body{
      margin-left: 0px;
      color:#014a81;
      font-size: 14px;
      .field-content p{
        margin: 0px;
      }
    }
    .views-row{
      border-bottom: 1px solid #FACE77;
      margin-top: 13px;
      padding-bottom: 8px;
    }
    .views-row-last{border-bottom:0}
    .pager{
      border-top: 1px solid #FACE77;
      padding-top: 7px;
      text-align: right;
      margin: 6px 0px -8px 0px;
      a{
        color:#014a81;
      }
    }
}
/* -----  Specific activity boxs  ----- */
#block-views-latest-updates-block-1{
  float: right;
}
#block-views-group-s-poll-block-1,
#block-views-activity-user-block-1{
  .views-row .content{
    clear: both;
    padding-top: 1px;
  }
}
#block-views-group-members-block {
  padding-bottom: 7px;
  .view-header p{
    background: #f0ae11;
    color: white;
    font-weight: bolder;
    width: 95px;
    text-align: center;
    margin-top: 14px;
    line-height: 13px;
    padding: 3px 0px;
    a{
      color: white;
      font-size: 15px;
    }
  }
  .view-content{
    padding-top: 14px;
  }
}
#block-views-group-s-video-block-1{
  .video-embed-description{
    display: none;
  }
  background-color:none;
  .views-row{
    padding-bottom: 22px;
  }
}
#block-views-group-s-deccument-block-1{
  li{
    height: 35px;
    overflow: hidden;
    line-height: 19px;
    margin: 8px 10px;
  }
  .views-field-field-doccument a{
    color: #014A81;
  }
}
#block-views-group-s-events-block-1{
  margin-bottom: 26px;
  div.views-field-body{
    margin-left:110px;
  }
}
#block-views-group-members-block .content{
    .views-row{
      border-bottom: 0px;
      float: left;
      margin: 0px 3.5px;
      width: 55px;
      height: 55px;
    }
    img{
      margin-right: 0px;
    }
    .numbers-visible{
      position: absolute;
      margin: 32px 0px 0px 3px;
      padding-top: 3px;
      color: white;
      width: 20px;
      height: 20px;
      font-size: 9px;
      font-weight: bolder;
      text-align: center;
      background: url("../images/shadow-number-post.png") no-repeat;
    }
    div.img-biger{
      position: absolute;
      z-index: 100;
      display: none;
      width: 99px;
      background-color: #9F2772;
      border: 2px solid white;
      .number{
        background: white;
        font-size: 12px;
        color: #9F2772;
        font-weight: bold;
        padding-left: 9px;
      }
      img{
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
      .username{
        color: white;
        margin-left: 12px;
      }
    }
    .field-content:hover div.img-biger{
      display: block;
    }
}
div.img-biger .number[class*=" 0 "],
.numbers-visible[class*=" 0 "]{
  display:none;
}





/*---------- all ...-----------*/
#block-views-group-s-events-block-2,
#block-views-group-s-discussion-block-2,
#block-views-group-s-deccument-block-4,
#block-views-group-s-video-block-2{
  width: 753px;
  margin-top: 52px;
  td{
    float: right;
    padding: 0;
    margin:0px 0px 31px 24px;
    width: 218px;
  }
}
/*----------See all boxs-----------*/
@mixin select-all-box{
  float: left;
  padding: 0;
  margin: 0px 24px 31px 0px;
  width: 215px;
  height: 373px;
  border-radius: 4px;
  border: 2px solid #FBD38B;
  box-shadow: 0px 0px 0px 3px #FAE8C7;

  .views-field-title,
  .views-field-field-description-group,
  .views-field-field-user-description{
    margin: 0px 10px;
    padding-left: 10px;
  }
  .views-field-field-description-group,
  .views-field-field-user-description{
  height: 141px;
  }
  .views-field-title{
    border-bottom: 1px solid #FACE77;
    margin-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 5px;
    background: white;
    a{
      padding: 0;
      margin-left: -8px;
      color: #B01919;
      font-weight: bold;
      font-size: 16px;
    }
  }
  .views-field-name,
  .views-field-created,
  .views-field-body{
    padding:0px 12px;
    color:black;
  }
  .views-field-body{
    clear: both;
    color: #014A81;
  }
  .views-field-field-description-group,
  .views-field-field-user-description
  .views-field-name,
  .views-field-group-group{
    color: #014a81;
  }
  .views-field-field-event-image{
    height: 143px;
  }
  .views-field-field-description-group{
    height: 123px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .views-field-group-group{
    background: #fcf0d8;
    height: 51px;
    border: 1px solid #FBD38B;
  }
  .views-field-name{
    font-size: 13px;
    font-weight: normal;
  }

  .views-field-group-group .field-content{
    padding-top: 16px;
    a{
    background-color: #FAAC18;
    }
  }
}
@mixin select-all-title{
  border-bottom: 1px solid #FACE77;
  margin-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;
  background: white;
}
@mixin select-all-title-link{
  padding: 0;
  color: #B01919;
  font-weight: bold;
  font-size: 16px;
}
#block-views-group-s-events-block-2,
#block-views-group-s-discussion-block-2,
#block-views-group-s-deccument-block-4{
  td{
    @include select-all-box;
  }
  .views-field-title{
    @include select-all-title;
    a{
      @include select-all-title-link;
    }
  }
}
#block-views-4cf7ecc831800e49c7e8e4d4e5fa3265,
#block-views-group-s-poll-block-2{
  .views-row{
    @include select-all-box;
  }
  .views-field-title,.views-field-name{
    @include select-all-title;
    a{
      @include select-all-title-link;
    }
  }
}
#block-views-4cf7ecc831800e49c7e8e4d4e5fa3265{
  .views-field-name{
  float: none;
  margin: 1px 10px;
  }
}
#block-views-group-s-discussion-block-2{
  .views-field-body{
      height: 237px;
  }
  .views-field views-field-comment-count{
  padding-left: 12px;
  }
}
#block-views-group-s-deccument-block-4 .view-group-s-deccument{
  li {
  height: 35px;
  overflow: hidden;
  line-height: 19px;
  margin: 8px 10px;
  }
}
/*---------- sidebar-second -----------*/
section[id^="block-views-my-groups"],
section[id^="block-views-tags-block"],
section[id^="block-views-groups-block"],
section[id^="block-views-individual-space-block"]{
  margin-top: -4px;
  .block-title{
    margin: 0;
    font-size: 14px;
    color: #014A81;
  }
  ul{
    list-style: none;
        }
  li{
  margin: 0;
  color: #4E4E4E;
  font-size: 13.5px;
  }
  a{
     color: #4E4E4E;
    font-size: 13.5px;
  }
}

#block-views-tags-block .block-title,
#block-views-groups-block .block-title{
  padding-left: 19px;
  background: url('../images/home-icons.png') no-repeat;
}
#block-views-tags-block .block-title{
  background-position:-4% 100%;
}

#block-views-groups-block .block-title{
  background-position:-4% -0.5%;
}
/**************** Infromtion Page *********************/
.field-name-field-image-group div div{
  width: 700px;
  height: 270px;
  float: right;
  margin-bottom: 19px;
  background: url('../images/shadow-img.jpg') no-repeat -20px 258px;
  img{
    float: right;
  }
}
/**************** Event Page *********************/
#node_groups_event_full_group_where_event{
  float: right;
}
.node-type-groups-event .field-group-fieldset{
  height: 146px;
  float: left;
  font-size: 19px;
  background: #fcf0d8;
  padding-left: 12px;
  .fieldset-legend{
    background-color: #f8db95;
    padding: 9px 152px 5px 14px;
    margin-left: -12px;
  }
  .fieldset-wrapper{
    margin-top: 10px;
  }
  .date-display-single{
    padding-top: 12px;
    width: 93px;
    text-align: center;
    float: left;
    margin-right: 0px;
    height: 89px;
    padding-right: 15px;
    border-right: 1px solid black;
    background: url('../images/day-img.png') no-repeat 36% 6%;
    line-height: 23px;
  }
  .field-name-field-location-of-event-text{
    border-bottom: 1px dashed black;
    margin-bottom: 3px;
    padding-bottom: 6px;
    width: 192px;
  }
  .group_start,
  .group_end{
    text-align: right;
    margin-right: 26px;
    h3{font-weight:normal; margin: 0;}
    .field-items{font-weight: 700; line-height: 20.5px}
  }
}
.node-type-groups-event .field-name-field-location-of-event{
      float: right;
      margin-top: -7px;
}
.node-type-groups-event .date-display-single:first-line{
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
}
.node-type-groups-event .node-groups-event .field-name-body{
  clear: both;
  padding: 25px 74px;
}
#block-views-group-logo-event-block img{
  margin: 9px;
}
#block-views-event-members-block-1,
#block-views-group-s-events-block-3{
  color: #B01919;
  .block-title{
    font-size: 17px;
    margin: 10px 0px 8px 0px;
    border-bottom: 1.5px solid rgba(176, 25, 25, 0.17);
  }
  a{
    color: #B01919;
    font-weight: bold;
  }
  .views-field-field-location-of-event-text{
  border-right: 1.8px solid #B01919;
  margin-right: 9px;
  padding-right: 5px;
  }
  .views-field-title{
    margin-bottom: -4px;
  }
  .views-row{
    margin-bottom: 7px;
  }
}
#block-views-join-the-event-block-1{
    background: #F9AB17;
    border: 1px solid rgba(176, 25, 25, 0.17);
    padding: 1px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    width: 63px;
    .flag-join-event a{
    padding: 2px 0px 4px 1px;
    color: white;
    text-decoration: none;
    }
}
.field-name-field-join-to-event{
  margin-bottom: 35px;
  .flag-join-event a{
      background: #F9AB17;
      border: 1px solid rgba(176, 25, 25, 0.17);
      font-size: 17px;
      font-weight: bolder;
      padding: 10px;
      color: white;
  }
}
.section-event #main .content{
  border-left: 1px solid #E7E1E1;
  border-right: 1px solid #E7E1E1;
  .content{
    border:0;
    margin: 0px 25px;
  }
}
.section-event,.node-type-groups-event{
  #block-system-main{
  clear: both;
  }
        .region-sidebar-second{
    padding: 16px;
    margin-top: 33px;
    background: #FCF0D8;
    width: 239px;
  }
}


/*************************  tabs  *****************************/
#block-menu-menu-tabs{
  float:left;/*otherwise the div overlays all the way to the right, and you can't click*/
  position: static;
  div.contextual-links-wrapper{
    position: relative;
    width: 123px;
    left: -466px;
    top: -12px;
    ul.contextual-links{
      top: 85px;
    }
  }
   .content{
    position: absolute;
    top: 141px;
    left: 0;
    margin-left: -48px;
    padding: 0;
    ul li{
      margin-top: 3px;
      position: absolute;
      list-style: none;
      width: auto;
      height: 39px;
      margin-bottom: 10px;
      padding-left: 43px;
      line-height: 16px;
      border-top-right-radius: 26px;
      border-bottom-right-radius: 26px;
      box-shadow: 0px 0px 6px -1px #555353;
      background: url('../images/big-icons.png') no-repeat #F0AC00;
      background-size: 40px;
      a{
        position: static;
        width: 147px;
        color: white;
        font-weight: bold;
        font-size: 14px;
        padding: 3px 0px 7px 0px;
        margin: 0px 65px 0px -15px;
      }
    }
  }
  ul li:nth-child(1) {z-index:104; top: 4px; background-position: 98% 101%; margin-top: 10px;}
  ul li:nth-child(2) {z-index:103; top:66px;   background-position: 98% -1%;  }
  ul li:nth-child(3) {z-index:102; top:123px;  background-position: 98% 67%;  }
  ul li:nth-child(4) {z-index:101; top:180px;  background-position: 99% 32.5%;  }

  ul li:last-child{margin-bottom: 10px;}
  /*ul li ul*/
  ul li ul{
    box-shadow: 0px 0px 2px 1.5px #C5BFAF;
    background: #fff;
    position: absolute;
    left: 1px;
    top: 42px;
    width: auto;
    padding: 0;
    margin: 0;
    li{
      box-shadow: 0px 0px;
      border-radius: 2px;
      background: #fff;
      position: static;
      height: auto;
      padding: 0;
      margin: 0;
       a{
        color:#4D4C4C;
        padding: 2px 0px 0px 21px;
        margin: 0px 0px 0px 0px;
        font-weight: normal;
        font-size: 12px;
      }
    }
  }
  ul li:nth-child(3) ul{
    li{
      background: url('../images/points.png') no-repeat 3% 0% white;
      margin-left: 4px;
    }
    li:nth-child(1) { background-position: 0% 2%; }
    li:nth-child(2) {letter-spacing: -1px; background-position: 0% 21%;  }
    li:nth-child(3) { background-position: 0% 40%;  }
    li:nth-child(4) { background-position: 0% 60%;  }
    li:nth-child(5) { background-position: 0% 80%;  }
    li:nth-child(6) { background-position: 0% 100%;  }
  }
  ul.menu li a,ul.menu li ul{
    display: none;
    line-height: 1.6;
  }
  ul.menu li:hover a{
    display: block;
  }
  ul.menu li:hover ul {
    display: block;
  }
}
.hover-tats{
  display: block;
}

